<div class="modal-header">
    <h3 class="modal-title">Detach Network</h3>
</div>
<form id="inputForm" name="contentForm">
<div class="modal-body">

            <div class="form-group">
                <label>Network Environment Name</label> <input type="text"
                     class="form-control"
                     ng-model="detachModalCtrl.sessionName"
                     placeholder="Network Environment Name" required>
            </div>

            <div class="tekst">
                <div class="input-group">
                    Detach session for:
                    <select class="form-control" theme="bootstrap" required
                            ng-model="detachModalCtrl.detachTime">
                        <option disabled hidden value=""></option>
                        <option value="2">2 minutes</option>
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="60">1 hour</option>
                        <option value="120">2 hours</option>
                        <option value="-1">Forever</option>
                    </select>
                </div>
            </div>
            <b class="tekst">You would be able to close this windows after detach</b>
            <!--
            <div ng-if="detachModalCtrl.detachedComponentId">
                You can connect other environments with <br>
                NetworkID: <b>{{detachModalCtrl.detachedComponentId}}</b>
            </div>
            -->

</div>

<div class="modal-footer">
    <button ng-if="!detachModalCtrl.detachedComponentId" class="btn btn-primary" type="button" ng-click="$close();detachModalCtrl.detach()">Detach</button>
    <button class="btn btn-default" type="button" ng-click="$close();detachModalCtrl.showEmu()">Cancel</button>
</div>

</form>
