<div class="panel panel-default">
    <div class="panel-heading">{{$ctrl.heading}}</div>
    <div class="panel-body">
        <span ng-show="$ctrl.list.length === 0">{{$ctrl.listEmptyNote}}</span>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="elem in $ctrl.list track by $index">
                <label>Input source</label>
                <div class="input-group">
                    <input readonly type="text" class="form-control" ng-model="$ctrl.list[$index].url" size="30">
                    <span class="input-group-addon">Url</span>
                </div>
                <div class="input-group">
                    <input readonly type="text" class="form-control" ng-model="$ctrl.list[$index].name" size="30">
                    <span class="input-group-addon">(File-)Name</span>

                </div>
                <div class="input-group">
                <label>Action:</label> {{$ctrl.list[$index].action}}
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.list.splice($index, 1)">
                            Delete input
                        </button>
                    </span>
                </div>
            </li>
        </ul>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{$ctrl.inputPlaceholder}}" ng-model="$ctrl.newInputUrl" size="30">
            <span class="input-group-addon">Url</span>
        </div>
        <div class="input-group">

            <input type="text" class="form-control" placeholder="{{$ctrl.inputPlaceholder}}" ng-model="$ctrl.newInputName" size="30">
            <span class="input-group-addon">(File-)Name</span>
        </div>
        <div class="input-group">
            <select class="form-control" theme="bootstrap" ng-model="$ctrl.newAction" >
                <option value="copy">copy</option>
                <option value="extract">extract</option>
            </select>
            <span class="input-group-addon">Action</span>
        </div>
        <div class="input-group">
            <span class="input-group-btn">
                     <button class="btn btn-default" type="button"
                             ng-click="$ctrl.list.push({url : $ctrl.newInputUrl, name : $ctrl.newInputName , action : $ctrl.newAction});
                             $ctrl.newInputUrl =''; $ctrl.newInputName=''; $ctrl.newAction =''">
                         {{$ctrl.addButtonText}}
                     </button>
                 </span>
        </div>
    </div>
</div>