<div class="modal-body">
    <div id="header"><img height="70" src="img/logo.png"/></div>
    <div class="panel-body">
        <div id="error-panel" class="alert alert-danger" role="alert">
            Error
        </div>

        <pre>Probably, chosen (input-)service isn't available</pre>
    </div>

    <div class="modal-footer">
        <div style="text-align: right;">
            <button type="submit" class="btn btn-primary" onClick="window.location.reload()">{{'ERROR_RETURN_BTN' |
                translate}}
            </button>
        </div>
    </div>
</div>
