<div class="form-group" style="margin-left: 20px; margin-right: 20px">
    <div class="form-group">
        <label>Amiga Model: </label>
        <ui-select ng-model="$ctrl.args.model" theme="bootstrap" title="select Amiga model" ng-change="$ctrl.onUpdate()">
            <ui-select-match placeholder="available models">
                {{$select.selected}} </ui-select-match>
            <ui-select-choices repeat="m in $ctrl.args.models | filter: $select.search">
                <span ng-bind-html="m | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <label>Amiga ROM: </label>
        <ui-select ng-model="$ctrl.args.rom" theme="bootstrap" title="select Amiga ROM" ng-change="$ctrl.onUpdate()">
            <ui-select-match placeholder="available ROMs">
                {{$select.selected.label}} </ui-select-match>
            <ui-select-choices repeat="rom in $ctrl.romList | filter: $select.search">
                <span ng-bind-html="rom.label | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>