
<div class="form-group" style="margin-left: 20px; margin-right: 20px">
    <label>Rom: </label>
    <ui-select ng-model="$ctrl.args.rom" theme="bootstrap"
        title="select ROM">
        <ui-select-match placeholder="available ROMs">
            {{$select.selected.label}} </ui-select-match>
        <ui-select-choices
            repeat="rom in $ctrl.romList | filter: $select.search">
            <span ng-bind-html="rom.label | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</div>