<div ng-if="(startEmuCtrl.networkSessionEnvironments && 
    startEmuCtrl.networkSessionEnvironments.length > 0) && 
        startEmuCtrl.eaasClient.network" class="tekstMore">
        
    <started-network-environment-overview
        [network-Session-Environments]="startEmuCtrl.networkSessionEnvironments"
        [selected-Network-Environment]="startEmuCtrl.env ? startEmuCtrl.env : chosenEnv"
        [dns-Service-Env]="startEmuCtrl.dnsServiceEnv"
        [startup-Env] = "startEmuCtrl.startupEnv"
        [eaas-Client]="startEmuCtrl.eaasClient">
    </started-network-environment-overview>
</div>
<div id="emulator-container" class="eaas-emulator-container-transcursor"></div>

<p></p>
<div id="emulator-info-container">
<!--     style="margin-top: 100px"-->
</div>
<div id="emulator-loading-container">
    <h4>{{'EMU_TITLE' | translate}}</h4>
    <img id="emulator-loading-spinner" height="144" width="144" src="img/gears.gif" />
</div>

<div hidden id="emulator-loading-connections">
    <h4>{{'EMU_VIDEO_CABLE' | translate}}</h4>
    <img id="emulator-loading-connections-spinner" height="144" width="144" src="img/loading_circles.gif" />
</div>

<div id="emulator-stopped-container">
    <h4>{{'EMU_STOPPED' | translate}}</h4>
</div>

<button ng-show="emulator.state == 'STOPPED' && containerRuntime" id="outputDownloadBtn" ng-click="startEmuCtrl.getOutput()">Download
    result
</button>