<div>
    <button ng-click="loginCtrl.authService.login({
        connection: 'twitter',
        redirectUri: 'http://presemu03.library.yale.internal/admin/',
        scope: 'openid profile email'
    })">Log In with Twitter</button>
</div>


<div>
    <button ng-click="loginCtrl.authService.login({
        connection: 'google-oauth2',
        redirectUri: 'http://presemu03.library.yale.internal/admin/',
        scope: 'openid profile email'
    })">Log In with Google</button>
</div>

<div>
    <button ng-click="loginCtrl.authService.login({
        connection: 'Username-Password-Authentication',
        redirectUri: 'http://presemu03.library.yale.internal/admin/',
        scope: 'openid profile email'
       })">Log In</button>
</div>