div class="main-container container">
    <div class="row">
        <div class="col-xs-12"><div id="header"><img height="70" src="img/logo.png" /></div></div>
    </div>

    <div class="row">
        <div id="error-panel" class="panel panel-default">
            <div class="panel-body">
                <div id="error-panel" class="alert alert-danger" role="alert">
                    <b>Not authorized</b>
                </div>
                <p>
                    <b>NOTE: </b> Your user-id has been sucessfully authenticated, but the requested service requires a different role. 
                    If you have logged in via a third-party IdP, please wait for admin approval. 
                </p>
            </div>
        </div>
    </div>
</div>