<div class="modal-header">
	<h3 class="modal-title">{{'SAVETESTENV_L' | translate}}</h3>
</div>

<div class="modal-body">
	<form id="editEnvForm" name="openTestEnvironmentDialogCtrl.editEnvForm">

		<div class="form-group">
			<label>{{'SAVETESTENV_KEEP' | translate}}</label>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button"
		ng-click="openTestEnvironmentDialogCtrl.saveEnvironment()"
		ng-disabled="!openTestEnvironmentDialogCtrl.editEnvForm.$valid || openTestEnvironmentDialogCtrl.isSavingEnvironment">{{'SAVETESTENV_SAVE'
		| translate}}</button>
	<button class="btn btn-default" type="button" ng-click="openTestEnvironmentDialogCtrl.deleteEnvironment()"
		ng-disabled="openTestEnvironmentDialogCtrl.isSavingEnvironment">{{'SAVETESTENV_CANCEL'
		| translate}}</button>
</div>
