<div class="modal-header">
    <h3 class="modal-title">{{'CONTAINER_RUN_L' | translate}}</h3>
</div>

<div class="modal-body">
    <container-input-list list="runContainerDlgCtrl.inputs"
                heading="Define input sources"
                list-empty-note="Add input sources to the container. File-names are relative to the containers input folder."
                add-button-text="Add Input Source">
    </container-input-list>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close();runContainerDlgCtrl.cancel()" >Cancel</button>
    <button class="btn btn-default" type="button" ng-click="$close();runContainerDlgCtrl.run()">Run</button>
</div>