<div class="modal-header">
    <h3 class="modal-title">Create new container runtime</h3>
</div>

<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">Runtime environment</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Runtime Name</label>
                <input type="text" class="form-control" ng-model="newRuntimeCtrl.label"></input>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="newRuntimeCtrl.createRuntime()">{{'DEFAULTENV_SAVE' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="$close()">{{'DEFAULTENV_CANCEL' | translate}}</button>
</div>
