<div ng-show="isModuleVisible"></div>
<div class="modal-header">
    <h3 class="modal-title">Create ad-hoc network</h3>
</div>

        <div class="modal-body">
            <label>
                <p>
                    Add multiple machines to an ad-hoc network.<br> 
                </p>
            </label>
            <ui-select multiple ng-model="selectedEnvs" theme="bootstrap" on-remove="OnRemoveSelect($item)" 
                ui-outer-click="cancel()" on-select="OnClickSelect($item)"  
                close-on-select="true"  ng-disabled="disabled" style="width: 550px;" title="Choose environment">
                <ui-select-match placeholder="Select environment or leave it empty...">
                    <p align="left">{{$item.title}} ({{$item.envId}})</p>
                </ui-select-match>
                <ui-select-choices repeat="item in (envs | filter: $select.search) track by item.envId">
                    <span style="font-size: small;">{{item.title}} ({{item.envId}})</span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="!selected.length" type="button" ng-click="connect()">Connect</button>
            <button class="btn btn-default" type="button" ng-click="run()">Proceed without connecting</button>
        </div>


