<div ng-show="isModuleVisible"></div>
<div class="modal-header">
    <h3 class="modal-title">Network connect</h3>
</div>

<div class="modal-body">
    <label>
        <p>
            Should this environment be connected to a running network?  <br>
        </p>
    </label>

    <ui-select ng-model="selected.session" theme="bootstrap" style="width: 550px;" title="Choose a network">
        <ui-select-match placeholder="Active networks">
            {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="item in (availableGroupIds | filter: $select.search)">
            {{item.name}}
        </ui-select-choices>
    </ui-select>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disable="!$scope.selected.session" ng-click="connect()">Connect</button>
    <button class="btn btn-default" type="button" ng-click="run()">Proceed without connecting</button>
</div>