<div class="modal-header">
    <h3 class="modal-title">Machine Media Image</h3>
</div>

<div class="modal-body">
    <form name="myForm">
        <div class="panel panel-default">
            <div class="tekst" ng-show="newImageCtrl.requiresPatch">
                <label>{{'SW_NEW_IMAGE_AVAILABLE_PATCH' | translate}}:</label>
                <ui-select ng-model="newImageCtrl.selectedPatch" theme="bootstrap"
                    title="{{'EDITENV_CONTAINER_EMULATOR' | translate}}" required>
                    <ui-select-match placeholder="{{'SW_NEW_IMAGE_PATCH' | translate}}">
                        {{$select.selected.description.title}}</ui-select-match>
                    <ui-select-choices repeat="index in newImageCtrl.patches  | filter: $select.search">
                        <span ng-bind-html="index.description.title
                                 | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close();">OK </button>
    <button class="btn btn-default" type="button" ng-click="$close()">Cancel</button>
</div>