<div class="modal-header">
    <h3 class="modal-title">Image Management</h3>
</div>

<form name="myForm">
<div class="modal-body">

        <div class="panel panel-default">
            <div class="panel-heading">Add Disk Media</div>
            <div class="panel-body">
                <div class="form-group" ng-if="importDlgCtrl.mode !== 'runtime'"> 
                    <label for="_label">Disk image label: </label>
                    <input class="form-control" type="text" ng-model="importDlgCtrl.label" id="_label">
                </div>
                <hr>

                <div class="form-group">
                    <input type="radio" name="mode" ng-model="importDlgCtrl.mode" value="create" id="_create"> <label for="_create">Create new image</label>
                </div>

                <div class="form-group" ng-if="importDlgCtrl.mode === 'create'">
                    <label>{{'SW_NEW_IMAGE_NEW_HD_LBL' | translate}}
                        {{'SW_NEW_IMAGE_NEW_HD_SIZE_LBL' | translate}}</label>
                    <input type="text" class="form-control" ng-model="importDlgCtrl.hdsize"
                        ui-mask="?9?9?9?9?9?9?9?9 MB" ui-mask-placeholder ui-mask-placeholder-char="​\u200B" 
                        ng-disabled="importDlgCtrl.mode !== 'create'"
                        ng-required="importDlgCtrl.mode == 'create'" />
                </div>
                <hr>

                <div class="form-group">
                    <input type="radio" name="mode" ng-model="importDlgCtrl.mode" value="import" id="_import"> <label for="_import">Import image</label>
                </div>
                <div class="form-group" ng-if="importDlgCtrl.mode === 'import'">
                    Supported disk image formats:<br>
                    <ul>
                        <li>RAW disk images</li>
                        <li>VirtualBox VDI</li>
                        <li>Virtual PC VHD(X)</li>
                        <li>VMware VMDK </li>
                        <li>Expert Witness Format (EnCase) EWF</li>
                        <li>Qemu QCOW2</li>
                    </ul>
                    <label for="_hdurl">
                        <!--<input type="radio" ng-model="newImageCtrl.hdtype" value="url">-->
                        <span>{{'SW_NEW_IMAGE_HD_URL_LBL' | translate}}</span>
                    </label>
                    <input placeholder="http://" type="text" class="form-control" ng-model="importDlgCtrl.hdurl" id="_hdurl"
                        ng-disabled="importDlgCtrl.mode !== 'import'"
                        ng-required="importDlgCtrl.mode == 'import'" />
                </div>
                <hr>
                <div class="form-group">
                    <input type="radio" name="mode" ng-model="importDlgCtrl.mode" value="rom" id="_rom"> <label for="_rom">Import ROM</label>
                </div>
                <div class="form-group" ng-if="importDlgCtrl.mode === 'rom'">
                    <label for="_romurl">
                        <span>Upload ROM image</span>
                    </label>
                    <input placeholder="http://" type="text" class="form-control" ng-model="importDlgCtrl.romurl" id="_romurl"
                        ng-disabled="importDlgCtrl.mode !== 'rom'"
                        ng-required="importDlgCtrl.mode == 'rom'"/>
                </div>
                <hr>
                <div class="form-group">
                    <input type="radio" name="mode" ng-model="importDlgCtrl.mode" value="upload" id="_upload"> <label for="_upload">Upload image</label>
                </div>

                <div class="form-group" ng-if="importDlgCtrl.mode === 'upload'">
                <button type="button" class="btn btn-default"
                        ngf-select=""
                        ng-model="importDlgCtrl.localFile" ngf-multiple="false">
                    Choose
                </button>
                <label ng-if="importDlgCtrl.localFile"> File: {{importDlgCtrl.localFile.name}} </label>
                </div>


            </div>
        </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="importDlgCtrl.import();">OK </button>
    <button class="btn btn-default" type="button" ng-click="$close()">Cancel</button>
</div>
</form>
