<h2 class="m-t-0">Create New Machine</h2> <br>

<form name="newImageCtrl.form" ng-submit="">
    <div class="panel panel-default">
        <div class="panel-heading">{{'SW_NEW_IMAGE_CHOOSE_SYSTEM' | translate}}</div>

        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-12"><span class="text-primary"> </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <button class="btn btn-default" type="button"
                            ng-click="newImageCtrl.preSelectedSystem('windows');">
                            <img src="img/windows.png" height="80px"></br>
                            <small class="text-secondary">Windows</small>
                        </button>
                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn-default" type="button"
                            ng-click="newImageCtrl.preSelectedSystem('linux')">
                            <img src="img/linux.png" height="80px"></br>
                            <small class="text-secondary">Linux</small>
                        </button>
                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn-default" type="button" ng-click="newImageCtrl.preSelectedSystem('mac')">
                            <img src="img/apple.png" height="80px"></br>
                            <small class="text-secondary">Apple</small>
                        </button>
                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn-default" type="button" 
                            ng-click="newImageCtrl.preSelectedSystem('other')">
                            <img src="img/other.png" height="80px"></br>
                            <small class="text-secondary">Other</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-if="newImageCtrl._preSelectedSystem">
        <div class="panel-heading">General</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Machine Name</label>
                <input type="text" class="form-control" ng-model="newImageCtrl.label"></input>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-if="newImageCtrl._preSelectedSystem">
        <div class="panel-heading">System Settings</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Select operating system / System </label>
                <div style="max-width: 350px;">
                    <ui-select ng-model="newImageCtrl.selectedTemplate"
                        on-select="newImageCtrl.onSelectSystem($item, $model)" theme="bootstrap"
                        title="{{'SW_NEW_IMAGE_CHOOSE_SYSTEM_PH' | translate}}" required>
                        <ui-select-match placeholder="{{'SW_NEW_IMAGE_CHOOSE_SYSTEM_PH' | translate}}">
                            {{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices repeat="obj in newImageCtrl.getOsPresets() | filter: $select.search">
                            <span ng-bind-html="obj.label | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-left: 20px; margin-right: 20px;">
            <div class="panel-body">
                <h4 ng-if="newImageCtrl.config.template">Hardware settings </h4>
                
                <qemu-options args="newImageCtrl.config.template_params" on-update="newImageCtrl.updateQemu()"
                    ng-if="newImageCtrl.config.template === 'qemu-x86'"></qemu-options>

                <macemu-options args="newImageCtrl.config.template_params" on-update="newImageCtrl.updateMacemu()" 
                    ng-if="newImageCtrl.config.template === 'sheepshaver' || newImageCtrl.config.template === 'basiliskII'"></macemu-options>
    
                <amiga-options args="newImageCtrl.config.template_params" on-update="newImageCtrl.updateAmiga()" 
                    ng-if="newImageCtrl.config.template === 'amiga-uae'"></amiga-options>

                <div class="row" ng-if="newImageCtrl.config.template">
                    <div class="col-sm-10">
                        <h4>Runtime options</h4>
                        <ui-Options-Template ui-Options=newImageCtrl.uiOptions></ui-Options-Template>
                    </div>
                </div>
                <div class="row" ng-if="newImageCtrl.config.template">
                    <div class="col-sm-10">
                        <div class="form-group" style="margin-left: 20px; margin-right: 20px">
                            <a href="" ng-click="expertOptions=true;">
                                <label>advanced options...</label>
                            </a>
                        </div>
                        <div class="form-group" style="margin-left: 20px; margin-right: 20px" ng-if="expertOptions">
                            <label>{{'SW_NEW_IMAGE_NATIVE_CONFIG_LBL' | translate}}</label>
                            <textarea class="form-control" ng-model="newImageCtrl.native_config"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="newImageCtrl.config.template">
                    <div class="form-group" style="margin-left: 20px; margin-right: 20px">
                        <H4>Drive Settings</h4>
                            <drives-overview
                                context="create"
                                drives="newImageCtrl.drives.getList()" 
                                render="newImageCtrl.guessBinding(index)" 
                                select="newImageCtrl.selectMedium(index)"></drives-overview>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: right;">
        <button type="button" class="btn btn-default" ui-sref="admin.standard-envs-overview">Cancel</button>
        <button type="button" class="btn btn-primary" ng-disabled="!newImageCtrl.label || !newImageCtrl.template.id" ng-click="newImageCtrl.save()">Save</button>
        <!-- ng-disabled="!newImageCtrl.form.$valid" -->
    </div>
</form>