<h2 class="m-t-0">{{'EDITENV_L' | translate}}</h2>

<form id="editEnvForm" name="editEnvCtrl.editEnvForm" ng-submit="editEnvCtrl.saveEdit()">
    <p>
        <label>{{'EDITENV_ID' | translate}}:</label>
        {{editEnvCtrl.env.envId}}
    </p>
    <p ng-if="editEnvCtrl.handle">
        <label>Handle:</label> <span id="osl" ng-if="!editEnvCtrl.editOsMode">{{editEnvCtrl.handle}}</span>
    </p>

    <div class="form-group">
        <label>{{'EDITENV_NAME' | translate}}</label> <input required type="text"
                                                             class="form-control" ng-model="editEnvCtrl.envTitle"
                                                             placeholder="{{'EDITENV_NAME_PH' | translate}}" >
    </div>

    <div class="form-group">
        <label>{{'NEW_CONTAINER_AUTHOR' | translate}}</label> <input type="text"
                                                             class="form-control" ng-model="editEnvCtrl.author">
    </div>

    <div class="form-group">
        <label>{{'EDITENV_DESC' | translate}}</label>
        <text-angular
                  ng-model="editEnvCtrl.envDescription"
                  placeholder="{{'EDITENV_DESC_PH' | translate}}" required></text-angular>
    </div>
    <p>
    <center><label><a ng-if="editEnvCtrl.showAdvanced==false" ng-click="editEnvCtrl.showAdvanced=true" style="cursor: pointer;">Show Advanced Options</a></label></center>
    </p>
    <p ng-if="editEnvCtrl.showAdvanced">
        <label>{{'EDITENV_OS' | translate}}:</label> <span id="osl" ng-if="!editEnvCtrl.editOsMode">{{editEnvCtrl.os}}</span>
        <span  ng-if="editEnvCtrl.editOsMode">

			<input id="osi" type="text" style="max-width: 300px;"
                   ng-model="editEnvCtrl.os"
                   placeholder="{{'EDITENV_OS_PH' | translate}}">
		</span>
        <button ng-if="!editEnvCtrl.editOsMode" ng-click="editEnvCtrl.editOsMode = true">{{'EDITENV_TAG_EDIT' | translate}}</button>
        <button ng-if="editEnvCtrl.editOsMode" ng-click="editEnvCtrl.editOsMode = false">{{'EDITENV_TAG_DONE' | translate}}</button>
    </p>

    <p ng-if="editEnvCtrl.showAdvanced">
        <label>{{'EDITENV_USERSORTTAG' | translate}}:</label> <span id="tagv" ng-if="!editEnvCtrl.editTagMode">{{editEnvCtrl.userTag}}</span>
        <span ng-if="editEnvCtrl.editTagMode">

			<input id="tagi" type="text" style="max-width: 300px;"
                   ng-model="editEnvCtrl.userTag"
                   placeholder="{{'EDITENV_TAG_PH' | translate}}">
		</span>
        <button ng-if="!editEnvCtrl.editTagMode" ng-click="editEnvCtrl.editTagMode = true">{{'EDITENV_TAG_EDIT' | translate}}</button>
        <button ng-if="editEnvCtrl.editTagMode" ng-click="editEnvCtrl.editTagMode = false">{{'EDITENV_TAG_DONE' | translate}}</button>
    </p>

    <p ng-if="editEnvCtrl.showAdvanced">
        <label>{{'EDITENV_EMULATOR' | translate}}:</label>
        {{editEnvCtrl.env.emulator}}
    </p>

    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <input type="checkbox" ng-model="editEnvCtrl.enablePrinting">
        <label>{{'EDITENV_PRINTING' | translate}}</label>
    </div>

    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <input type="checkbox" ng-model="editEnvCtrl.enableRelativeMouse">
        <label>{{'EDITENV_RELMOUSE' | translate}}</label>
    </div>

    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <input type="checkbox" ng-model="editEnvCtrl.enableInternet">
        <label>{{'EDITENV_ENABLE_INTERNET' | translate}}</label>
    </div>

    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <input type="checkbox" ng-model="editEnvCtrl.serverMode">
        <label>{{'EDITENV_ENABLE_SERVERMODE' | translate}}</label>
    </div>

    <div ng-if="editEnvCtrl.serverMode" ng-show="editEnvCtrl.showAdvanced">

        <div class="form-group">
            <input type="checkbox" ng-model="editEnvCtrl.enableSocks">
            <label>{{'EDITENV_ENABLE_SOCKS' | translate}}</label>
        </div>

        <div class="form-group" ng-if="!editEnvCtrl.enableSocks">
            <label>{{'EDITENV_SERVER_IP' | translate}}</label> <input type="text"
                                                                      class="form-control" ng-model="editEnvCtrl.serverIp">
        </div>

        <div class="form-group" ng-if="!editEnvCtrl.enableSocks">
            <label>{{'EDITENV_SERVER_PORT' | translate}}</label>
            <input type="text" class="form-control" ng-model="editEnvCtrl.serverPort">
        </div>

        <div class="form-group">
            <label>{{'EDITENV_GW_PRIVATE_IP' | translate}}</label>
            <input type="text" class="form-control" ng-model="editEnvCtrl.gwPrivateIp">
        </div>

        <div class="form-group">
            <label>{{'EDITENV_GW_PRIVATE_MASK' | translate}}</label>
            <input type="text" class="form-control" ng-model="editEnvCtrl.gwPrivateMask">
        </div>
    </div>

    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <input type="checkbox" ng-model="editEnvCtrl.useXpra">
        <label>{{'EDITENV_XPRA' | translate}}</label>
    </div>


    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <input type="checkbox" ng-model="editEnvCtrl.connectEnvs">
        <label>{{'EDITENV_CANCONNECTENVS' | translate}}</label>
    </div>

    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <input type="checkbox" ng-model="editEnvCtrl.shutdownByOs">
        <label>{{'EDITENV_SHUTDOWNBYOS' | translate}}</label>
    </div>

    <div class="form-group" ng-show="editEnvCtrl.env.revisions.length > 0" ng-if="editEnvCtrl.showAdvanced">
        <p>
            <label>{{'EDITENV_REVS' | translate}}:</label>
        </p>
        <ul id="editEnvSoftwareList">
            <li ng-repeat="revision in editEnvCtrl.env.revisions">{{revision.text}}
                <a href="#"
                   ng-click="editEnvCtrl.fork(revision.id)"> [ fork ] </a>

                <a style="cursor: pointer;"
                   ng-click="editEnvCtrl.revert(editEnvCtrl.env.envId, revision.id)"> [ revert to this version ] </a>

            </li>
        </ul>
    </div>

    <div class="form-group" ng-show="editEnvCtrl.dependencies.length > 0" ng-if="editEnvCtrl.showAdvanced">
        <p id="objDeps">
            <label>{{'EDITENV_OBJ_DEPENDENCIES' | translate}}:</label>
        </p>
        <ul id="objDepList">
            <li ng-repeat="id in editEnvCtrl.dependencies"><a ui-sref="admin.edit-object-characterization({objectId: id})">{{id}}</a></li>
        </ul>
    </div>

    <div ng-show="editEnvCtrl.env.installedSoftwareIds.length > 0" ng-if="editEnvCtrl.showAdvanced">
        <p id="editEnvSoftwareListLabel">
            <label>{{'EDITENV_SW' | translate}}:</label>
        </p>
        <ul>
            <li ng-repeat="softwareId in editEnvCtrl.env.installedSoftwareIds">{{softwareId}}</li>
        </ul>
    </div>

    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <label>{{'EDITENV_DATE_CONTEXT' | translate}}</label>
        <div>
            <div style="float: left; margin: 6px;">
                <input type="checkbox" ng-model="editEnvCtrl.showDateContextPicker">
            </div>

            <div>
                <p class="input-group">
                    <input type="text" class="form-control" datetime-picker="dd.MM.yyyy HH:mm" ng-model="editEnvCtrl.datetimePicker.date" is-open="editEnvCtrl.isOpen"
                           timepicker-options="editEnvCtrl.datetimePicker.timepickerOptions" datepicker-options="editEnvCtrl.datetimePicker.datepickerOptions"
                           button-bar="editEnvCtrl.datetimePicker.buttonBar"
                           ng-disabled="!editEnvCtrl.showDateContextPicker" />
                    <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-disabled="!editEnvCtrl.showDateContextPicker"
                                ng-click="editEnvCtrl.openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
					</span>
                </p>
            </div>
        </div>
    </div>

    <div class="form-group" ng-if="editEnvCtrl.showAdvanced">
        <label>{{'EDITENV_NATIVE_CONFIG' | translate}}</label> <input type="text"
                                                                      class="form-control" ng-model="editEnvCtrl.nativeConfig"
                                                                      placeholder="{{'EDITENV_NAME_PH' | translate}}" >
    </div>

    <p ng-if="editEnvCtrl.showAdvanced">
        <b>{{'EDITENV_HELPTEXT' | translate}}:</b> <br />
        <text-angular ng-model="editEnvCtrl.envHelpText" />
    </p>


    <div style="text-align: right;">
        <button class="btn btn-default"
                ui-sref="admin.standard-envs-overview({showObjects: editEnvCtrl.isObjectEnv})">{{'EDITENV_CANCEL' |
            translate}}</button>
        <button type="submit" class="btn btn-primary"
        >{{'EDITENV_SAVE'
            | translate}}</button>
    </div>
</form>