
<h2 class="m-t-0">{{'CHOOSE_ENV_L' | translate}}</h2>

<uib-tabset active="standardEnvsOverviewCtrl.view">
    <uib-tab index="0" heading="{{'CHOOSE_BASEENV_L' | translate}}">
        <table id="base" st-table="displayEnvs" st-safe-src="standardEnvsOverviewCtrl.envs" class="table">
            <thead>
            <tr>
                <th colspan="6">
                    <input st-search="" class="form-control" placeholder="{{'CHOOSE_ENV_SEARCH' | translate}}" type="text" /><br>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="row in displayEnvs">
                <td>
                    <b>{{row.title}}</b>
                    <br/>
                    <!--Start-->
                    <a ui-sref="admin.emulator({envId: row.envId, objectId: row.objectId, archiveId: row.archiveId})">{{'CHOOSE_ENV_PROPOSAL'
                        | translate}}</a>

                    <!--Edit-->
                    <a ui-sref="admin.edit-env({envId: row.envId})">{{'CHOOSE_ENV_EDIT' | translate}}</a>

                    <!--Delete-->
                    <a href="#" ng-click="standardEnvsOverviewCtrl.deleteEnvironment(row.envId)">{{'CHOOSE_ENV_DEL'| translate}}</a>

                    <!--Software-->
                    <a ng-click="standardEnvsOverviewCtrl.addSoftware(row.envId)">{{'CHOOSE_ENV_ADDSW'| translate}}</a>

                    <!--Landing page-->
                    <a ng-if="standardEnvsOverviewCtrl.landingPage" href="{{standardEnvsOverviewCtrl.landingPage}}?id={{row.envId}}" target="_blank">{{'CONTAINER_LANDING_PAGE'| translate}}</a>

                    <br>
                    <span ng-show="row.version != null">{{'CHOOSE_ENV_VER'
					| translate }}: {{row.version}}<br>
            </span> <div >{{row.author}} </div>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </uib-tab>
    <uib-tab index="1" heading="{{'CHOOSE_OBJENV_L' | translate}}" ng-if="standardEnvsOverviewCtrl.config.features.objectEnvironments" >
        <table id="objects" st-table="displayObjEnvs" st-safe-src="standardEnvsOverviewCtrl.objEnvs" class="table">
            <thead>
            <tr>
                <th colspan="6">
                    <input st-search="" class="form-control"
                           placeholder="{{'CHOOSE_ENV_SEARCH' | translate}}" type="text" /><br>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="row in displayObjEnvs">
                <td>
                    <b>{{row.title}}</b>
                    <br/>
                    <!--Start-->
                    <a ui-sref="admin.emulator({envId: row.envId, objectId: row.objectId, archiveId: row.archiveId, returnToObjects: true})">{{'CHOOSE_ENV_PROPOSAL'
                        | translate}}</a>

                    <!--Edit-->
                    <a  ui-sref="admin.edit-env({envId: row.envId, objEnv: true})">{{'CHOOSE_ENV_EDIT'| translate}}</a>

                    <!--Delete-->
                    <a href="#" ng-click="standardEnvsOverviewCtrl.deleteEnvironment(row.envId)" >{{'CHOOSE_ENV_DEL'| translate}}</a>

                    <!--Software-->
                    <a ng-click="standardEnvsOverviewCtrl.addSoftware(row.envId)">{{'CHOOSE_ENV_ADDSW'
                        | translate}}</a>

                    <!--Landing page-->
                    <a ng-if="standardEnvsOverviewCtrl.landingPage" href="{{standardEnvsOverviewCtrl.landingPage}}?id={{row.envId}}" target="_blank">{{'CONTAINER_LANDING_PAGE'
                        | translate}}</a>

                    <br>
                    <span ng-show="row.version != null">{{'CHOOSE_ENV_VER'
					| translate }}: {{row.version}}<br>
            </span> <div >{{row.author}} </div>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </uib-tab>
    <uib-tab index="2" heading="Containers">
        <table id="containers-table" st-table="displayContainerEnvs" st-safe-src="standardEnvsOverviewCtrl.containerEnvs" class="table">
            <thead>
            <tr>
                <th colspan="6">
                    <input st-search="" class="form-control"
                           placeholder="{{'CHOOSE_ENV_SEARCH' | translate}}" type="text" /><br>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="row in displayContainerEnvs">
                <td>
                    <b>{{row.title}}</b>
                    <br/>
                    <!--Start-->
                    <a ui-sref="admin.container({envId: row.envId,  modifiedDialog: true })">{{'CHOOSE_ENV_RUN'| translate}}</a>

                    <!--Edit-->
                    <a ui-sref="admin.edit-container({envId: row.envId})">{{'CHOOSE_ENV_EDIT'| translate}}</a>

                    <!--Delete-->
                    <a href="#" ng-click="standardEnvsOverviewCtrl.deleteContainer(row.envId)">{{'CHOOSE_ENV_DEL'
                        | translate}}</a>

                    <!--Landing page-->
                    <a ng-if="standardEnvsOverviewCtrl.landingPage" href="{{standardEnvsOverviewCtrl.landingPage}}?id={{row.envId}}" target="_blank">{{'CONTAINER_LANDING_PAGE'
                        | translate}}</a>

                    <br>
                    <span ng-show="row.version != null">{{'CHOOSE_ENV_VER'
					| translate }}: {{row.version}}<br>
            </span> <div >{{row.author}} </div>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </uib-tab>

</uib-tabset>


