<h4>Networking</h4>
    
<div class="form-group">
    <div>
        <input type="checkbox" ng-model="$ctrl.networking.connectEnvs" id="_enable_network">
        <label for="_enable_network">Enable networking</label>
    </div>
    
    <div>
        <input type="checkbox" ng-model="$ctrl.networking.enableInternet" ng-if="$ctrl.networking.connectEnvs" id="_enable_internet">
        <label ng-if="$ctrl.networking.connectEnvs" for="_enable_internet">Enable internet</label>
    </div>

    <div ng-if="$ctrl.networking.connectEnvs && $ctrl.isContainer">
        <input type="checkbox" ng-model="$ctrl.networking.isTelnetEnabled" id="_enable_telnet">
        <label for="_enable_telnet">Enable Telnet</label>
    </div>

    <div ng-if="$ctrl.networking.connectEnvs && $ctrl.isContainer">
        <input type="checkbox" ng-model="$ctrl.networking.isDHCPenabled" id="_enable_dhcp">
        <label for="_enable_dhcp">Enable DHCP</label>
    </div>

  <!--    <div class="form-group" ng-if="$ctrl.networking.connectEnvs">-->
<!--        <input type="checkbox"  ng-model="$ctrl.networking.serverMode">-->
<!--        <label>{{'EDITENV_ENABLE_SERVERMODE' | translate}}</label>-->
<!--    </div>-->

<!--    <div ng-if="$ctrl.networking.serverMode && $ctrl.networking.connectEnvs">-->

<!--        <div class="form-group">-->
<!--            <input type="checkbox"  ng-model="$ctrl.networking.enableSocks">-->
<!--            <label>{{'EDITENV_ENABLE_SOCKS' | translate}}</label>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <input type="checkbox"   ng-model="$ctrl.networking.localServerMode">-->
<!--            <label>{{'EDITENV_ENABLE_LOCAL_MODE' | translate}}</label>-->
<!--        </div>-->

<!--        <div class="form-group" ng-if="!$ctrl.networking.enableSocks">-->
<!--            <label>{{'EDITENV_SERVER_IP' | translate}}</label>-->
<!--            <input type="text"  class="form-control" ng-model="$ctrl.networking.serverIp">-->
<!--        </div>-->

<!--        <div class="form-group" ng-if="!$ctrl.networking.enableSocks">-->
<!--            <label>{{'EDITENV_SERVER_PORT' | translate}}</label>-->
<!--            <input type="text"  class="form-control" ng-model="$ctrl.networking.serverPort">-->
<!--        </div>-->

<!--        <p>-->
<!--            <b>{{'EDITENV_HELPTEXT' | translate}}:</b> <br/>-->
<!--            Symbols $$host$$ and $$port$$ would be substituted to real values on deployment. <br>-->
<!--            Example: $$host$$:$$port$$/myPath/myPage.html = testserver:8080/myPath/myPage.html-->
<!--            <text-angular ng-model="$ctrl.networking.helpText"></text-angular>-->
<!--        </p>-->
<!--    </div>-->

<!--
        <p>
            <b>{{'EDITENV_HELPTEXT_NETWORK' | translate}}:</b> <br />
            Symbols $$host$$ and $$port$$ would be substituted to real values on deployment. <br>
            Example: $$host$$:$$port$$/myPath/myPage.html = testserver:8080/myPath/myPage.html
            <text-angular ng-model="$ctrl.networking.helpText"></text-angular>
        </p>
    </div>
-->
</div>