<div class="block_container">
    <div class="m-t-0" (click)="debug()" style="float:left; font-weight: bold;font-size: 21px">Network Environment Overview</div>
    <button *ngIf="serverIpsExist()" style="float:right;" (click)="openConsolidatedNetworkView()" mat-raised-button>Consolidated View</button>
</div>
<br>
<div *ngIf="eaasClient.network">
    <network-config-template *ngIf="selectedNetworkEnvironment.network"
        [networkingConfig]="networkingConfig"
        [isDisabled]="true"
    ></network-config-template>
    <br>
    <!--    Network environments action table (connect, delete environments)   -->
<!--    <h4 class="m-t-0">Connected Environments</h4>-->

<!--    Helptext to connect -->
    <div *ngIf="serverIpsExist()">
        <p>Please note!<br> for local connection you would need: <br> <b>1)</b> Download and run following software
            <br>
            <a href="https://gitlab.com/emulation-as-a-service/eaas-proxy/-/jobs/artifacts/master/raw/eaas-proxy/eaas-proxy.app.zip?job=build"
               ng-show="networkModalCtrl.localServerMode" target="eaas-proxy"> MAC</a>
            <br>
            <a href="https://gitlab.com/emulation-as-a-service/eaas-proxy/-/jobs/artifacts/master/raw/eaas-proxy/eaas-proxy.exe?job=build"
               ng-show="networkModalCtrl.localServerMode" target="eaas-proxy"> Windows </a>
            <br>
            <a href="https://gitlab.com/emulation-as-a-service/eaas-proxy/-/jobs/artifacts/master/raw/eaas-proxy/eaas-proxy?job=build"
               ng-show="networkModalCtrl.localServerMode" target="eaas-proxy"> Linux </a>
        </p>
        <p> <b>2)</b> Select a port and initialize a local connection </p>
    </div>


    <table mat-table [dataSource]="networkSessionEnvironments" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="environment">
        <th mat-header-cell *matHeaderCellDef>Environment</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Label</th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="connect(element)" [disabled]="eaasClient.activeView && eaasClient.activeView.componentId===element.componentId" style="margin-right:5px;" mat-raised-button >
                {{eaasClient.activeView && eaasClient.activeView.componentId===element.componentId ? "active" : "view"}}
            </button>
            <button *ngIf="eaasClient.activeView && eaasClient.activeView.componentId!==element.componentId" (click)="delete(element)" mat-raised-button color="warn">delete</button>
        </td>
    </ng-container>

    <ng-container  matColumnDef="expandedDetail">
        <td mat-cell  *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">

                    <div *ngIf="element.networkData.fqdn">
                        <div class="bloc1 textBold"> Server Name (FQDN): </div>
                        <div class="bloc2 textBlue">{{element.networkData.fqdn}}</div>
                    </div>

                    <div *ngIf="!element.networkData.serverIp && !element.networkData.fqdn"><b>Please specify server ip address or FQDN</b></div>
                    <div class="tekst" *ngIf="element.networkData.serverIp">
                        <bind-port-view
                            [serverIp]="element.networkData.serverIp"
                            [serverPorts]="element.networkData.serverPorts"
                            [eaasClient]="eaasClient"
                        ></bind-port-view>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement && expandedElement.componentId === element.componentId"
        (click)="expandedElement = expandedElement && expandedElement.componentId === element.componentId ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];"
        class="example-detail-row"
        [ngClass]="expandedElement && expandedElement.componentId === row.componentId ? 'example-element-row': 'hidden-column'"
    ></tr>

</table>
<!--    iframe for opening eaas-proxy in localMode scenario-->
    <iframe id="eaas-proxy-iframe" name="eaas-proxy" hidden sandbox></iframe>
</div>
