<div class="modal-header">
        <h3 class="modal-title">{{'UPLOAD_FILE_TITLE' | translate}}</h3>
    </div>
    
    <div class="modal-body">
        <form>
            <div class="form-group">
                
                
                <label>{{'UPLOAD_FILE_SELECTED'| translate }}: </label> <span > {{ selectFileModalCtrl.selectedFile.name }}  <button type="button" class="btn btn-default" 
                            ngf-select="selectFileModalCtrl.select()" 
                            ng-model="selectFileModalCtrl.selectedFile" ngf-multiple="false" >Choose</button></span>

                 <br>
                 <div ng-if="selectFileModalCtrl.selectedFile">
                    <label>{{'OBJECT_INGEST_MEDIATYPE' | translate}}</label>
                            <select style="max-width: 150px;" class="form-control" theme="bootstrap" ng-model="selectFileModalCtrl.mediumType"  required>
                                <option style="display:none" value="">select a type</option>
                                <option value="Q495265">ISO</option>
                                <option value="Q493576">Floppy</option>
                                <!-- <option value="disk">Disk</option> -->
                                <option value="Q82753">Files</option>
                        </select>
                </div>
            </div>
    
            <div style="text-align: right;">
                <button type="submit" class="btn btn-default" ng-click="$close()">{{'ADDSW_DIALOG_CANCEL' | translate}}</button>
                <button type="submit" class="btn btn-primary"
                        ng-click="$close();selectFileModalCtrl.add()"
                        ng-disabled="!selectFileModalCtrl.selectedFile || !selectFileModalCtrl.mediumType">{{'UPLOAD_FILE_ADD' | translate}}</button>
            </div>
        </form>
    </div>