<div class="panel panel-default dnb-actions">
	<!--<div id="actionsHeading" class="panel-heading">{{'ACTIONS_L' | translate}}</div>-->

	<div id="actionsBtnGroup" class="btn-group-vertical" role="group">

		<button type="submit" class="btn btn-default"
				ng-click="actionsCtrl.help()"
				ng-bind-html="'ACTIONS_HELP'| translate | trustAsHtml"></button>

		<button type="submit"
				class="btn btn-default"
				ng-click="actionsCtrl.openChangeMediaDialog()"
				ng-bind-html="'ACTIONS_CHANGE_MEDIA'| translate | trustAsHtml"
				ng-show="actionsCtrl.media.length > 1"></button>
		<!-- <button type="submit" class="btn btn-default" ng-click="actionsCtrl.openChangeMediaNativeDialog()" ng-show="actionsCtrl.driveId == -1">{{'ACTIONS_CHANGE_MEDIA' | translate}}</button> -->
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.screenshot()"
				ng-bind-html="'ACTIONS_SCREENSHOT'| translate | trustAsHtml"></button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.openPrintDialog()"
				ng-show="actionsCtrl.enablePrinting"
				ng-bind-html="'ACTIONS_PRINT'| translate | trustAsHtml"></button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.sendCtrlAltDel()">{{'ACTIONS_CTRLALTDEL' | translate}}</button> 


        <div ng-if="actionsCtrl.userCtx">
			<div ng-if="actionsCtrl.shutdownByOs">
				<button type="submit" class="btn btn-default" uib-tooltip="{{'ACTIONS_SAVESESSION_HELP' | translate}}"
					ng-click="actionsCtrl.saveSession()" ng-disabled="actionsCtrl.emulator.state != 'STOPPED'"
						ng-bind-html="'ACTIONS_SAVESESSION'| translate | trustAsHtml"></button>
			</div>

			<div ng-if="!actionsCtrl.shutdownByOs">
				<button type="submit" class="btn btn-default"
						ng-click="actionsCtrl.saveSession()"
						ng-bind-html="'ACTIONS_SAVESESSION'| translate | trustAsHtml"></button>
			</div>
		</div>

		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.restartEmulator()"
				ng-bind-html="'ACTIONS_RESTART'| translate | trustAsHtml"></button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.stopEmulator()"
				ng-bind-html="'ACTIONS_STOP'| translate | trustAsHtml"></button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.openChangeEnvDialog()"
				ng-if="actionsCtrl.objEnvironments.length > 1"
				ng-bind-html="'ACTIONS_ALTENVS'| translate | trustAsHtml"></button>
	</div>
</div>
