<div class="panel panel-default dnb-actions">
	<!--<div id="actionsHeading" class="panel-heading">{{'ACTIONS_L' | translate}}</div>-->

	<div id="actionsBtnGroup" class="btn-group-vertical" role="group">
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.help()">{{'ACTIONS_HELP' | translate}}</button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.openChangeMediaDialog()" ng-show="actionsCtrl.driveId >= 0">{{'ACTIONS_CHANGE_MEDIA' | translate}}</button>
		<!-- <button type="submit" class="btn btn-default" ng-click="actionsCtrl.openChangeMediaNativeDialog()" ng-show="actionsCtrl.driveId == -1">{{'ACTIONS_CHANGE_MEDIA' | translate}}</button> -->
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.screenshot()">{{'ACTIONS_SCREENSHOT' | translate}}</button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.openPrintDialog()" ng-show="actionsCtrl.enablePrinting">{{'ACTIONS_PRINT' | translate}}</button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.sendCtrlAltDel()">{{'ACTIONS_CTRLALTDEL' | translate}}</button> 


        <div ng-if="actionsCtrl.userCtx">
			<div ng-if="actionsCtrl.shutdownByOs">
				<button type="submit" class="btn btn-default" uib-tooltip="{{'ACTIONS_SAVESESSION_HELP' | translate}}"
					ng-click="actionsCtrl.saveSession()" ng-disabled="actionsCtrl.emulator.state != 'STOPPED'">{{'ACTIONS_SAVESESSION' | translate}}</button>
			</div>

			<div ng-if="!actionsCtrl.shutdownByOs">
				<button type="submit" class="btn btn-default"
						ng-click="actionsCtrl.saveSession()">{{'ACTIONS_SAVESESSION' | translate}}</button>
			</div>
		</div>

		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.restartEmulator()">{{'ACTIONS_RESTART' | translate}}</button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.stopEmulator()">{{'ACTIONS_STOP' | translate}}</button>
		<button type="submit" class="btn btn-default" ng-click="actionsCtrl.openChangeEnvDialog()">{{'ACTIONS_ALTENVS' | translate}}</button>
	</div>
</div>
