<div class="modal-header">
	<h3 class="modal-title">{{'USERSESSION_L' | translate}}</h3>
</div>

<div class="modal-body">
	{{'USERSESSION_TEXT' | translate}}
</div>

<div class="modal-footer">
	<!--  save button -->
	<button class="btn btn-primary" type="button"
			ng-click="userSessionDialogCtrl.startSession()" > {{'USERSESSION_START'| translate}}</button>
		
	<button class="btn btn-default" type="button"
			ng-click="userSessionDialogCtrl.startDefault()">{{'USERSESSION_DEFAULT' | translate}}</button>
</div>
