
<h2 class="m-t-0" ng-if="!standardEnvsOverviewCtrl.showObjects">{{'CHOOSE_ENV_L' | translate}}</h2>
<h2 class="m-t-0" ng-if="standardEnvsOverviewCtrl.showObjects">{{'CHOOSE_OBJENV_L' | translate}}</h2>

<table id="standard-envs-overview-table" st-table="displayEnvs"
       st-safe-src="standardEnvsOverviewCtrl.showObjects?standardEnvsOverviewCtrl.objEnvs:standardEnvsOverviewCtrl.envs"
       class="table">
    <thead>
    <tr>
        <th colspan="6">
            <input st-search="" class="form-control"
                   placeholder="{{'CHOOSE_ENV_SEARCH' | translate}}" type="text" /><br>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="row in displayEnvs">
        <td>
            <b>{{row.title}}</b>
            <br/>
            <a ui-sref="wf-s.emulator({envId: row.envId, objectId: row.objectId, archiveId: row.archiveId, returnToObjects: standardEnvsOverviewCtrl.showObjects})">{{'CHOOSE_ENV_PROPOSAL'
                | translate}}</a>
            <a ui-sref="wf-s.edit-env({envId: row.envId, objEnv: standardEnvsOverviewCtrl.showObjects})">{{'CHOOSE_ENV_EDIT'
                | translate}}</a>
            <a href="#" ng-click="standardEnvsOverviewCtrl.exportEnvironment(row.envId)">[export]</a>
            <a href="#" ng-click="standardEnvsOverviewCtrl.deleteEnvironment(row.envId)">{{'CHOOSE_ENV_DEL'
                | translate}}</a>
            <a ng-click="standardEnvsOverviewCtrl.addSoftware(row.envId)">{{'CHOOSE_ENV_ADDSW'
                | translate}}</a>
            <br>
            <span ng-show="row.version != null">{{'CHOOSE_ENV_VER'
					| translate }}: {{row.version}}<br>
				</span> {{row.description}}
        </td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="4" st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>
