<description-text [disabled]="isDisabled" [description]="networkingConfig.description"
    (updateDescription)="updateNetworkDescription($event)">
</description-text>

<br>
<mat-form-field class="full-width tekstMore">

    <mat-label>Network (e.g., 10.0.0.0/24)</mat-label>
    <!--            allow ip or empty string-->
    <input [disabled]="isDisabled" matInput name='network' [(ngModel)]="networkingConfig.network"
        placeholder="Set IP network / mask. Example: 10.0.0.0/24" pattern="^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[/](\d{1,2})$|(^$)" 
        required #elem="ngModel">
        <mat-error *ngIf="elem.invalid">Network is required. Example: 10.0.0.0/24</mat-error>
</mat-form-field>

<br>

<!--Slirp/Enable-internet config-->
<mat-checkbox [disabled]="isDisabled" class="example-section" [(ngModel)]="networkingConfig.enableInternet" name="enableInternet"
    color="primary">{{'EDITENV_ENABLE_INTERNET' | translate}}</mat-checkbox>
<mat-form-field *ngIf="networkingConfig.enableInternet" class="paddingLeft example-section">
    <!--            allow ip or empty string-->
    <mat-label>Network Gateway (e.g., 10.0.0.1)</mat-label>
    <input [disabled]="isDisabled" matInput name='gateway' [(ngModel)]="networkingConfig.gateway" name="gateway"
        pattern="^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$|(^$)">
    <mat-error>Entered IP address is invalid!</mat-error>
</mat-form-field>
<div class="paddingLeft">
    <mat-checkbox (ngModelChange)="ensureDNSexclusivity($event, 2)" [disabled]="isDisabled" name="isDHCPenabled"
        *ngIf="networkingConfig.enableInternet" class="example-section" [(ngModel)]="networkingConfig.isDHCPenabled"
        color="primary">{{'EDITENV_ENABLE_DHCP' | translate}}</mat-checkbox>
</div>
<mat-checkbox [disabled]="isDisabled" *ngIf="networkingConfig.enableInternet" class="paddingLeft example-section" name="isArchivedInternetEnabled"
    [(ngModel)]="networkingConfig.isArchivedInternetEnabled" color="primary">Archived Internet
</mat-checkbox>
<!--date picker-->
<mat-form-field *ngIf="networkingConfig.isArchivedInternetEnabled" class="paddingLeft example-section">
    <input matInput [disabled]="isDisabled" [(ngModel)]="networkingConfig.archiveInternetDate" 
        [matDatepicker]="picker" name="archiveInternetDate"
        placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
</mat-form-field>


<!-- Connections config-->
<mat-checkbox [disabled]="isDisabled" class="example-section" [(ngModel)]="networkingConfig.allowExternalConnections" name="allowExternalConnections"
    color="primary">{{'EDITENV_ALLOW_EXT_CONNECTIONS' | translate}}</mat-checkbox>

<div class="paddingLeft" *ngIf="networkingConfig.allowExternalConnections">
    <mat-checkbox [disabled]="true" class="example-section" [(ngModel)]="networkingConfig.serverMode" color="primary" name="serverMode">
        {{'EDITENV_ENABLE_SERVERMODE' | translate}}</mat-checkbox>
    <div>
        <mat-checkbox [disabled]="isDisabled" class="example-section" [(ngModel)]="networkingConfig.enableSocks" name="enableSocks"
            color="primary">{{'EDITENV_ENABLE_SOCKS' | translate}}</mat-checkbox>
        <mat-checkbox [disabled]="isDisabled" class="example-section" [(ngModel)]="networkingConfig.localServerMode" name="localServerMode"
            color="primary">{{'EDITENV_ENABLE_LOCAL_MODE' | translate}}</mat-checkbox>
    </div>
</div>

<!-- DNS/DHCP Service-->
<div *ngIf="isDnsAvailable">
    <mat-checkbox [disabled]="isDisabled" class="example-section" [(ngModel)]="isDnsDefined" name="isDnsDefined"
        (ngModelChange)="ensureDNSexclusivity($event, 1)" color="primary">DNS/DHCP Service</mat-checkbox>

    <div *ngIf="isDnsDefined">
        <mat-form-field class="paddingLeft example-section" style="display:inline-block;margin-right:15px; width:40%;">
            <mat-label>DHCP Server IP (e.g., 10.0.0.2)</mat-label>
            <input [disabled]="isDisabled" matInput [(ngModel)]="networkingConfig.dhcpNetworkAddress" name="dhcpNetworkAddress" 
                [required]="!isDisabled && isDnsAvailable">
        </mat-form-field>
    </div>
    <mat-form-field *ngIf="isDnsDefined" class="paddingLeft example-section"
        style="display:inline-block;margin-right:15px; width:40%;">
        <!--            allow ip or empty string-->
        <mat-label>External DNS (e.g., 1.0.0.1 (Cloudflare DNS) or 8.8.8.8 (Google Public DNS))</mat-label>
        <input [disabled]="isDisabled" matInput name='upstream_dns' [(ngModel)]="networkingConfig.upstream_dns" name="upstream_dns" 
            pattern="^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$|(^$)" [required]="!isDisabled && isDnsAvailable">
        <mat-error>Entered IP address is invalid!</mat-error>
    </mat-form-field>
</div>

<!-- Storage Service-->
<div *ngIf="isSmbAvailable">
    <mat-checkbox [disabled]="isDisabled" class="example-section" [(ngModel)]="isSmbDefined" name="isSmbDefined"
        color="primary">Windows Network Storage Service</mat-checkbox>
</div>

<div *ngIf="isLinuxArchiveProxyAvailable">
    <mat-checkbox [disabled]="isDisabled" class="example-section" [(ngModel)]="isLinuxArchiveProxyDefined" name="isLinuxArchiveProxyDefined"
        color="primary">Linux Archive Proxy</mat-checkbox>
</div>
<!--StartUp Environment during landing page attach-->
<!--
<mat-checkbox [disabled]="isDisabled" class="example-section" [(ngModel)]="networkingConfig.isShared" color="primary">
    Shared Network
    <mat-icon style="font-size: 18px;" title="Landing Page Clients will share this network">info</mat-icon>
</mat-checkbox>
-->

<mat-form-field class="paddingLeft example-section" *ngIf="networkingConfig.isShared"
    style="display:inline-block;margin-right:15px; width:40%;">
    <mat-label>Startup Client</mat-label>
    <mat-select [disabled]="isDisabled" [(value)]="networkingConfig.startupEnv">
        <mat-option *ngFor="let env of environments" [value]="env">
            {{env.title}}
        </mat-option>
    </mat-select>
</mat-form-field>
