<div class="modal-header">
    <h3 class="modal-title">{{'CONFIRM_RESTART_H' | translate}}</h3>
</div>

<div class="modal-body">
    <h4>{{'CONFIRM_RESTART_T' | translate}}</h4>
</div>

<div class="modal-footer" ng-if="confirmRestartDialogCtrl.isUserSession">
    <button class="btn btn-primary" type="button" ng-click="$close();confirmRestartDialogCtrl.confirmed(false);">{{'CONFIRM_RESTART_OK_2' | translate}}</button>
    <button class="btn btn-primary" type="button" ng-click="$close();confirmRestartDialogCtrl.confirmed(true);" >{{'CONFIRM_RESTART_OK' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="$close()">{{'CONFIRM_RESTART_CANCEL' | translate}}</button>
</div>

<div class="modal-footer" ng-if="!confirmRestartDialogCtrl.isUserSession">
    <button class="btn btn-primary" type="button" ng-click="$close();confirmRestartDialogCtrl.confirmed(false);" >{{'CONFIRM_RESTART_OK' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="$close()">{{'CONFIRM_RESTART_CANCEL' | translate}}</button>
</div>