<h1 class="m-t-0">Networks</h1>

<uib-tabset active="netCtrl.view">
    <uib-tab index="0" ng-click="netCtrl.updateTable(0)" heading="Available Networks">
    </uib-tab>
    <uib-tab index="1" heading="Running Networks" ng-click="netCtrl.updateTable(1)" >
    </uib-tab>
</uib-tabset>
<p></p>
<div class="row">
    <div class="col-lg-6">
        <div class="input-group" style="width: 100%">
            <input type="text" class="form-control" ng-model="netCtrl.gridOptions.quickFilterText"
                placeholder="{{'CHOOSE_ENV_SEARCH' | translate}}" />
        </div>
    </div>
    <div class="col-lg-6">
        <span class="input-group-btn" 
            style="text-align: right; width: 100%; display: inline-block;"
            ng-if="netCtrl.view === 0">
            <button class="btn btn-default" 
                    ui-sref="admin.create-network-environment">
                {{ 'ADD_NETWORK_ENVIRONMENT' | translate }}
            </button>
        </span>
    </div>
</div>

<div style="width: 100%;" ag-grid="netCtrl.gridOptions" class="ag-theme-balham">
</div>

<div style="padding: 4px; margin-top: -1.5em; position: relative; font-size: 12px; width: max-content;">
    <!-- <div class="ag-theme-balham"><b>{{'CHOOSE_ENV_COUNT' | translate}}: {{standardEnvsOverviewCtrl.rowCount}}</b></div>-->
    <div>
        Page Size:
        <select ng-click="onPageSizeChanged()" ng-model="netCtrl.pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="100">100</option>
            <option value="500">500</option>
        </select>
    </div>
</div>
