<div class="modal-header">
    <h3 class="modal-title">{{'SET_KEYBOARD_DLG_TITLE' | translate}}</h3>
</div>

<div class="modal-body">

    <button class="btn btn-default btn-lg btn-block" type="button" ng-hide="runtime != 0"
            ng-click="runtime=1;">{{'BASE_MENU_ADVANED_DATABASE_CONTENT'|
        translate}}</button>

    <div ng-hide="runtime != 1">
    <button class="btn btn-default btn-lg btn-block" type="button"
            ng-click="hideTextArea=false;advancedDialogCtrl.showEmilEnvs()">{{'BASE_MENU_ADVANED_SETTINGS_DLG_EMIL_ENV'|
        translate}}</button>
    <button class="btn btn-default btn-lg btn-block" type="button"
            ng-click="hideTextArea=false;advancedDialogCtrl.showObjectEmilEnvs()">{{'BASE_MENU_ADVANED_SETTINGS_DLG_OBJECT_ENV'|
        translate}}</button>
    <button class="btn btn-default btn-lg btn-block" type="button"
            ng-click="hideTextArea=false;advancedDialogCtrl.showContainerEmilEnvs()">{{'BASE_MENU_ADVANED_SETTINGS_DLG_CONTAINER_ENV'|
        translate}}</button>
    <pre ng-hide="hideTextArea" id="json-renderer"></pre>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()">{{'SETTINGS_DLG_CLOSE_DLG'
        | translate}}</button>
</div>